<!DOCTYPE html>
<html>
  <head>
    <title>Login App</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/logout"><button class="submit">Logout</button></a>
    <form action="/update" method="post">
      <label for="">First Name</label>
      <input class="inputBox" type="text" name="firstname" placeholder="{{firstname}}"/>
      <label for="">Last Name</label>
      <input class="inputBox" type="text" name="lastname" placeholder="{{lastname}}"/>
      <label for="">Phone Number</label>
      <input class="inputBox" type="text" name="number" placeholder="{{number}}"/>
      <button class="submit" type="submit" value="Submit">Update</button>
    </form>
  </body>
</html>