<!DOCTYPE html>
<html>
  <head>
    <title>Login App</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/users/login" method="POST">
      <label for="">Email</label>
      <input class="inputBox" type="text" name="email"/>
      <label for="">Password</label>
      <input class="inputBox" type="password" name="password"/>
      {{!-- <div class="right"> --}}
        <input class="submit" type="submit" value="Login" method="POST" />
      {{!-- </div> --}}
    </form>
    <div>
      <span>Not a User? </span>
      <a href='http://localhost:3000/users/signup'>Register Now!</a>
    </div>
  </body>
</html>
